@model Entities.Models.StructureRule

@{
    ViewBag.Title = "Details";
}

<h2>Details: @Model.Name</h2>

@Html.Partial("~/Views/Rules/_DetailsRule.cshtml", Model)

<div>
    @Html.ActionLink("Back to Rules", "Index")
</div>

<p>
    @if(User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["AdminDomainGroup"])) {
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) @("|")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
